      <!-- Carousel-->
      <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active"><img src="../assets/carousel1.jpg" alt="Jenny scouts location"/>
            <div class="carousel-caption">
            <h4>Club holiday location scouting. </h4>
            <p>Jenny went out a few months ago and scouted the location for the club holiday. Bring on St.Christoph/St.Anton 2013!</p>
            </div>  
          </div>
          <div class="item">
          <img src="../assets/carousel2.jpg" alt="John Carves"/>
            <div class="carousel-caption">
            <h4>Speed Demon!</h4>
            <p>John Croft (club president) kicks off the season with a little trip to the Alps. Armed with his new GoPro Camera!</p>
            </div>  
          </div>
          <div class="item">
          <img src="../assets/carousel3.jpg" alt="Nick Jumps"/>
            <div class="carousel-caption">
            <h4>Got Air?</h4>
            <p>Nick Spearpoint checks out the new freestyle skiis on offer from our sponsor sailandski.co.uk!</p>
            </div>  
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>

<!-- Row of columns -->
      <div class="row">
        
        <div class="span12">
        <h1>Latest News</h1>

        	<% @articles.each do |article| %>
					    <h3><%= article.title %></h3>
              <p><%= article.body %></p>

              <% if article.updated_at != article.created_at %>
                <span class="label label-success"><b>Updated: </b><%= article.updated_at.strftime("%d/%m/%Y - %I:%M %p") %></span>
              <% else %>
                <span class="label"><b>Posted: </b><%= article.created_at.strftime("%d/%m/%Y") %></span>
              <% end %>
              <p></p>					    
					    <%= link_to raw('Read More &raquo;'), article, :class => 'btn btn-primary' %>
              <hr>
              <br>
					<% end %>

        </div>
      </div>