<h1>Listing events</h1>
<hr>
<!-- New Event button -->    
<%= link_to raw('<i class="icon-pencil icon-white"></i> New Event'), new_event_path, :class => 'btn btn-success btn-large' %>

<!-- Display all Events -->
<% @events.each do |event| %>
  <hr>
  <h4><%= event.title %></h4>
  <b><%= event.date %></b>
  <p><%= event.body %></p>

<!-- Show Created/Updated -->
	<span class="label"><b>Created: </b><%= event.created_at.strftime("%d/%m/%Y - %I:%M %p") %></span> 

  <% if event.updated_at != event.created_at %>
  	<span class="label label-success"><b>Updated: </b><%= event.updated_at.strftime("%d/%m/%Y - %I:%M %p") %></span>
  <% end %>

  <p></p>  

<!-- Display CRUD buttons -->
  <div class="btn-group" data-toggle="buttons-checkbox">
    <%= link_to raw('<i class="icon-eye-open icon-white"></i> Show'), event, :class => 'btn btn-primary' %>
    <%= link_to raw('<i class="icon-edit icon-white"></i> Edit'), edit_event_path(event), :class => 'btn btn-inverse' %>
    <%= link_to raw('<i class="icon-trash icon-white"></i> Delete'), event, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
  </div>
  <br>   
<% end %>


